{% extends 'base.html.twig' %}

{% block title %}ajouter adherant!{% endblock %}

{% block body %}
    <div class="container">

        <div class="card card-cascade cascading-admin-card user-card">

            <!-- Card Data -->
            <div class="admin-up d-flex justify-content-start">
                <i class="fas fa-users info-color py-4 mr-3 z-depth-2"></i>
                <div class="data">
                    <h5 class="font-weight-bold dark-grey-text">Ajouter adherant - <span class="text-muted">Complete your
                      profile</span></h5>
                </div>
            </div>
            <!-- Card Data -->

            <!-- Card content -->
            {{ form_start(form) }}
            <div class="card-body card-body-cascade">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->


                    <div class="col-lg-6">
                        <div class="md-form form-sm mb-0">

                             {{ form_row(form.nom) }}

                        </div>
                    </div>
                        <div class="col-lg-6">

                            <div class="md-form form-sm mb-0">
                                {{ form_row(form.prenom) }}
                            </div>

                        </div>

                    <div class="col-lg-4">

                        <div class="md-form form-sm mb-0">
                     {{ form_row(form.email) }}
                        </div>
                    </div>
                    <div class="col-lg-4">

                        <div class="md-form form-sm mb-0">
                    {{ form_row(form.cin) }}
                        </div></div>
                    <div class="col-lg-4">

                        <div class="md-form form-sm mb-0">
                            {{ form_row(form.telephone) }}
                        </div></div>
                    <div class="col-md-12">

                        <div class="md-form form-sm mb-0">
                         {{ form_row(form.adresse) }}
                        </div></div>
                    <div class="col-md-6">

                        <div class="md-form form-sm mb-0">
                         {{ form_widget(form.fonction) }}
                        </div></div>
                    <div class="col-md-6">

                        <div class="md-form">
                            <div class="file-field">
                                <div class="btn btn-primary btn-sm float-left">
                                    <span>Choose files</span>
                        {{ form_widget(form.photo) }}
                        </div>   </div>

                        </div>
                    </div>
    <div class="float-right"> <button type="submit" class="btn btn-primary"><i class="fas fa-new"> ajouter</i></button></div>
    {{ form_end(form) }}
</div>
                </div></div></div>
{% endblock %}
