{% extends 'base.html.twig' %}

{% block title %}modifier adhesion!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">modifier adhesion</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="float-right"> <button type="submit" class="btn btn-primary"><i class="fas fa-new"> modifier</i></button></div>
        {{ form_end(form) }}
    </div>
{% endblock %}
