{% extends 'base.html.twig' %}

{% block title %}Hello SponsorController!{% endblock %}

{% block body %}
    <section>

        <h5 class="my-4 dark-grey-text font-weight-bold">Responsive table</h5>

        <!-- Top Table UI -->
        <div class="card p-2 mb-5">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-3 col-md-12">

                    <!-- Name -->


                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-3 col-md-6">

                    <!-- Blue select -->

                    <!-- /Blue select -->

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-3 col-md-6">


                    <!-- /Blue select -->

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-3 col-md-6">

                    <form class="form-inline md-form mt-2 ml-2">
                        <input class="form-control mt-2" type="text" placeholder="recherche" style="max-width: 150px;">
                        <button class="btn btn-sm btn-primary ml-2 px-1"><i class="fas fa-search"></i> </button>
                    </form>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Top Table UI -->
        <div class="card card-cascade narrower z-depth-1">

            <!-- Card image -->
            <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

                <div>
                    <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fas fa-th-large mt-0"></i></button>
                    <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fas fa-columns mt-0"></i></button>
                </div>

                <a href="" class="white-text mx-3">Sponsor</a>

                <div>

                    <a href="{{path('new_sponsor')}}"> <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fas fa-plus mt-0"></i></button></a>
                </div>

            </div>
            <!-- /Card image -->

            <div class="px-4">

                <div class="table-responsive">
                    <!-- Table -->
                    <table class="table table-hover mb-0">

                        <!-- Table head -->
                        <thead>
                        <tr>

                            <th class="text-center"><a href="">Sponsor<i class="fas fa-sort ml-1"></i></a></th>
                            <th class="th-lg"><a href="">modePayement<i class="fas fa-sort ml-1"></i></a></th>
                            <th class="th-lg"><a href="">montant<i class="fas fa-sort ml-1"></i></a></th>
                            <th class="th-lg"><a href="">matriculeFiscal<i class="fas fa-sort ml-1"></i></a></th>
                            <th class="th-lg"><a href="">date<i class="fas fa-sort ml-1"></i></a></th>
                            <th class="th-lg"><a href="">Action<i class="fas fa-sort ml-1"></i></a></th>


                        </tr>
                        </thead>
                        <!-- Table head -->

                        <!-- Table body -->
                        <tbody>
                        {% for spons in sponsors %}
                            <tr>
                                <td><div class="text-center"><img src = "{{ asset('uploads/' ~ spons.logo) }}" style = "width: 100px;height: 100px; border-radius: 50%"; alt=""> </div></br> <div class="text-center"><span class="badge badge-primary">{{ spons.Nom }} </span></div></td>
                                <td> {{ spons.modePayement }} </td>
                                <td>{{ spons.montant }}</td>
                                <td>{{ spons.matriculeFiscal }}</td>
                                <td>{{ spons.date ? spons.date|date('Y-m-d') : ''}}</td>



                                <td><a href="{{ path('edit_sponsor', {'id': spons.id}) }}" class="btn btn-outline-blue btn-rounded btn-sm px-2"><i class="fas fa-pencil-alt mt-0"></i></a>
                                    <a href="#" class="btn btn-outline-yellow btn-rounded btn-sm px-2"><i class="fas fa-info-circle mt-0"></i></a>
                                    <a href="{{ path('delete_sponsor', {'id': spons.id}) }}" class="btn btn-outline-red btn-rounded btn-sm px-2"><i class="fas fa-eraser mt-0"></i></a></td>
                            </tr>

                        {% endfor %}
                        </tbody>
                        <!-- Table body -->
                    </table>
                    <!-- Table -->
                </div>

                <hr class="my-0">

                <!-- Bottom Table UI -->
                <div class="d-flex justify-content-between">

                    <!-- Name -->


                    <!-- Pagination -->
                    <nav class="my-4">
                        <ul class="pagination pagination-circle pg-blue mb-0">

                            <!-- First -->
                            <li class="page-item disabled clearfix d-none d-md-block"><a class="page-link">First</a></li>

                            <!-- Arrow left -->
                            <li class="page-item disabled">
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>

                            <!-- Numbers -->
                            <li class="page-item active"><a class="page-link">1</a></li>
                            <li class="page-item"><a class="page-link">2</a></li>
                            <li class="page-item clearfix d-none d-md-inline-block"><a class="page-link">3</a></li>
                            <li class="page-item clearfix d-none d-md-inline-block"><a class="page-link">4</a></li>
                            <li class="page-item clearfix d-none d-md-inline-block"><a class="page-link">5</a></li>

                            <!-- Arrow right -->
                            <li class="page-item">
                                <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>

                            <!-- First -->
                            <li class="page-item clearfix d-none d-md-block"><a class="page-link">Last</a></li>

                        </ul>
                    </nav>
                    <!-- /Pagination -->

                </div>
                <!-- Bottom Table UI -->

            </div>
        </div>
    </section>
{% endblock %}
