{% extends 'base.html.twig' %}
{% block title %}Modifier Utilisateur{% endblock %}
{% block body %}
    <section class="section card mb-5">

        <div class="card-body">

            <!-- Section heading -->
            <h1 class="text-center my-5 h1">Inputs</h1>

            <h5 class="pb-5">Input fields</h5>


            <div class="row text-left">

                <!-- Grid column -->
                <div class="col-md-6 mb-4">

                    <!-- Email validation -->
                    <div class="md-form">

                        {{ form_row(formUser.email) }}

                    </div>

                </div>

            </div>



            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4">

                    <fieldset class="form-check mt-4">
                        {{ form_row(formUser.roles,{class: 'form-check-input'}) }}

                    </fieldset>

                </div>
            </div>
        </div>
    </section>
{% endblock %}