{% extends 'baseUser.html.twig' %}

{% block title %}Connexion au site {% endblock %}

{% block body %}

<body class="login-page">
<!-- Main Navigation -->
    {% if hasError %}
        <div class="alert alert-danger">le nom d'utilisateur ou le mot de passe est invalide</div>

    {% endif %}
            <section class="view intro-2" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/images/91.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
                <div class="mask rgba-indigo-light h-100 d-flex justify-content-center align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">

                                <!-- Form with header -->
                                <div class="card wow fadeIn" data-wow-delay="0.3s">
                                    <div class="card-body">

                                        <!-- Header -->
                                        <div class="form-header pink-gradient">
                                            <h3>
                                                <i class="fas fa-user mt-2 mb-2"></i> Log in:</h3>
                                        </div>

                                        <!-- Body -->
                                        <form action="{{ path('compte_login') }}" method="post">
                                        <div class="md-form mb-0">
                                            <i class="fas fa-envelope prefix white-text"></i>
                                            <input type="text" id="email" name="_username"  class="form-control"
                                                   required value="{{ username }}">
                                            <label for="orangeForm-email">Your email</label>
                                        </div>

                                        <div class="md-form mb-0">
                                            <i class="fas fa-lock prefix white-text"></i>
                                            <input type="password" name="_password" id="password" class="form-control"
                                                   required >
                                            <label for="orangeForm-pass">Your password</label>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn pink-gradient btn-lg">Connexion !</button>
                                            <hr>
                                            <div class="inline-ul text-center d-flex justify-content-center">
                                                <a class="p-2 m-2 fa-lg tw-ic">
                                                    <i class="fab fa-twitter white-text"></i>
                                                </a>
                                                <a class="p-2 m-2 fa-lg li-ic">
                                                    <i class="fab fa-linkedin-in white-text"> </i>
                                                </a>
                                                <a class="p-2 m-2 fa-lg ins-ic">
                                                    <i class="fab fa-instagram white-text"> </i>
                                                </a>
                                            </div>
                                        </div>
                                        </form>

                                    </div>
                                </div>
                                <!-- Form with header -->

                            </div>
                        </div>
                    </div>
                </div>
            </section>

</body>

{% endblock %}
