{% extends 'baseUser.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body%}
    <body class="register-page">
    <header>
    <section class="view intro-2" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest1.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="mask rgba-gradient7">
            <div class="container h-100 d-flex justify-content-center align-items-center">

                <!-- Grid row -->
                <div class="row  pt-5 mt-3">

                    <!-- Grid column -->
                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-body">

                                <h2 class="text-center mb-5 mt-4 font-weight-bold">
                                    <strong>REGISTER</strong>
                                </h2>
                                <hr>

                                <!-- Grid row -->
                                <div class="row mt-5">

                                    <!-- Grid column -->
                                    <div class="col-md-6 ml-lg-5 ml-md-3">

                                        <!-- Grid row -->
                                        <div class="row pb-3">
                                            <div class="col-2 col-lg-1">
                                                <i class="fas fa-university indigo-text fa-lg"></i>
                                            </div>
                                            <div class="col-10">
                                                <h4 class="feature-title">
                                                    <strong>Safety</strong>
                                                </h4>
                                                <p class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam ipsam voluptatem quia voluptas minima assumenda deleniti hic.</p>
                                            </div>
                                        </div>
                                        <!-- Grid row -->

                                        <!-- Grid row -->
                                        <div class="row pb-3">
                                            <div class="col-2 col-lg-1">
                                                <i class="fas fa-desktop indigo-text fa-lg"></i>
                                            </div>
                                            <div class="col-10">
                                                <h4 class="feature-title">
                                                    <strong>Technology</strong>
                                                </h4>
                                                <p class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam ipsam voluptatem quia voluptas minima assumenda deleniti hic.</p>
                                            </div>
                                        </div>
                                        <!-- Grid row -->

                                        <!-- Grid row -->
                                        <div class="row pb-4">
                                            <div class="col-2 col-lg-1">
                                                <i class="far fa-money-bill-alt indigo-text fa-lg"></i>
                                            </div>
                                            <div class="col-10">
                                                <h4 class="feature-title">
                                                    <strong>Finance</strong>
                                                </h4>
                                                <p class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam ipsam voluptatem quia voluptas minima assumenda deleniti hic.</p>
                                            </div>
                                        </div>
                                        <!-- Grid row -->

                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-md-5">

                                        <!-- Grid row -->

                                        <!-- Grid row -->

                                        <!-- Body -->
                                        {{ form_start(form) }}
                                        <div class="md-form mb-0">

                                           {{ form_row(form.nom) }}

                                        </div>

                                        <div class="md-form mb-0">

                                            {{ form_row(form.prenom) }}

                                        </div>

                                        <div class="md-form mb-0">

                                            {{ form_row(form.email) }}

                                        </div>

                                        <div class="md-form mb-0">

                                            {{ form_row(form.password) }}

                                        </div>

                                        <div class="md-form mb-0">

                                            {{ form_row(form.passwordConfirm) }}

                                        </div>

                                        <div class="md-form mb-0">

                                            {{ form_row(form.adresse) }}

                                        </div>

                                        <div class="md-form mb-0">

                                            {{ form_row(form.telephone) }}

                                        </div>

                                        <div class="md-form mb-0">

                                            {{ form_widget(form.dateNais) }}

                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn pink-gradient btn-rounded mt-3">Confirmez l'inscription</button>
                                        </div>
                                        {{ form_end(form) }}
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                            </div>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
        </div>
    </section>
    </header></body>
{% endblock %}