{% extends 'base.html.twig' %}

{% block title %}Hello ConventionController!{% endblock %}

{% block body %}
<section>

    <h5 class="my-4 dark-grey-text font-weight-bold">Responsive table</h5>

    <!-- Top Table UI -->
    <div class="card p-2 mb-5">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-3 col-md-12">

                <!-- Name -->
                <select class="mdb-select colorful-select dropdown-primary mx-2 md-form mt-3 md-dropdown">
                    <option value="" disabled selected>Bulk actions</option>
                    <option value="1">Delate</option>
                    <option value="2">Export</option>
                    <option value="3">Change segment</option>
                </select>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6">

                <!-- Blue select -->

                <!-- /Blue select -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6">


                <!-- /Blue select -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6">

                <form class="form-inline md-form mt-2 ml-2">
                    <input class="form-control mt-2" type="text" placeholder="recherche" style="max-width: 150px;">
                    <button class="btn btn-sm btn-primary ml-2 px-1"><i class="fas fa-search"></i> </button>
                </form>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Top Table UI -->
    <div class="card card-cascade narrower z-depth-1">

        <!-- Card image -->
        <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

            <div>
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fas fa-th-large mt-0"></i></button>
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fas fa-columns mt-0"></i></button>
            </div>

            <a href="" class="white-text mx-3">Conventions</a>

            <div>
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fas fa-pencil-alt mt-0"></i></button>
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fas fa-eraser mt-0"></i></button>
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fas fa-info-circle mt-0"></i></button>
            </div>

        </div>
        <!-- /Card image -->

        <div class="px-4">

            <div class="table-responsive">
                <!-- Table -->
                <table class="table table-hover mb-0">

                    <!-- Table head -->
                    <thead>
                    <tr>

                        <th class="th-lg"><a>Nom <i class="fas fa-sort ml-1"></i></a></th>
                        <th class="th-lg"><a href="">Lieu<i class="fas fa-sort ml-1"></i></a></th>
                        <th class="th-lg"><a href="">date convention<i class="fas fa-sort ml-1"></i></a></th>
                        <th class="th-lg"><a href="">Temp<i class="fas fa-sort ml-1"></i></a></th>

                        <th class="th-lg"><a href="">description<i class="fas fa-sort ml-1"></i></a></th>
                        <th class="th-lg"><a href="">partenaires<i class="fas fa-sort ml-1"></i></a></th>
                        <th class="th-lg"><a href="">Action<i class="fas fa-sort ml-1"></i></a></th>
                    </tr>
                    </thead>
                    <!-- Table head -->

                    <!-- Table body -->
                    <tbody>
                    {% for conv in conventions %}
                    <tr>
                        <td>{{ conv.Nom }}</td>
                        <td>{{ conv.lieu }}</td>
                        <td>{{ conv.dateConv ? conv.dateConv|date('Y-m-d') : ''}}</td>
                        <td>{{ conv.dateDeb ? conv.dateDeb|date('H:i')}} | {{ conv.datefin ? conv.datefin|date('H:i')}}</td>

                        <td>{{ conv.description }}</td>
                        <td>{%for part in conv.partenaires%}


                                {{ part.Responsable }}

                            {%  endfor %}</td>
                        <td><a href="{{ path('edit_convention', {'id': conv.id}) }}" class="btn btn-outline-blue btn-rounded btn-sm px-2"><i class="fas fa-pencil-alt mt-0"></i></a>
                            <a href="{{ path('delete_convention', {'id': conv.id}) }}" class="btn btn-outline-red btn-rounded btn-sm px-2"><i class="fas fa-eraser mt-0"></i></a></td>
                    </tr>

                    {% endfor %}
                    </tbody>
                    <!-- Table body -->
                </table>
                <!-- Table -->
            </div>

            <hr class="my-0">

            <!-- Bottom Table UI -->
            <div class="d-flex justify-content-between">

                <!-- Name -->


                <!-- Pagination -->
                <nav class="my-4">
                    <ul class="pagination pagination-circle pg-blue mb-0">

                        <!-- First -->
                        <li class="page-item disabled clearfix d-none d-md-block"><a class="page-link">First</a></li>

                        <!-- Arrow left -->
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        <!-- Numbers -->
                        <li class="page-item active"><a class="page-link">1</a></li>
                        <li class="page-item"><a class="page-link">2</a></li>
                        <li class="page-item clearfix d-none d-md-inline-block"><a class="page-link">3</a></li>
                        <li class="page-item clearfix d-none d-md-inline-block"><a class="page-link">4</a></li>
                        <li class="page-item clearfix d-none d-md-inline-block"><a class="page-link">5</a></li>

                        <!-- Arrow right -->
                        <li class="page-item">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>

                        <!-- First -->
                        <li class="page-item clearfix d-none d-md-block"><a class="page-link">Last</a></li>

                    </ul>
                </nav>
                <!-- /Pagination -->

            </div>
            <!-- Bottom Table UI -->

        </div>
    </div>
</section>
{% endblock %}
