<!DOCTYPE html>
<html>
    <header>
        <meta charset="UTF-8">
        {% block nav %}
            {% include('nav.html.twig') %}
            {% include('menu.html.twig') %}
        {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}

            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
            <!-- Bootstrap core CSS -->
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <!-- Material Design Bootstrap -->
            <link rel="stylesheet" href="{{ asset('css/mdb.min.css') }}">

        {% endblock %}

        {% block javascripts %}
            <!-- DataTables  -->
            <script type="text/javascript" src="{{ asset('js/addons/datatables.min.js') }}"></script>
            <!-- DataTables Select  -->
            <script type="text/javascript" src="{{ asset('js/addons/datatables-select.min.js') }}"></script>
            <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="{{ asset('js/mdb.min.js') }}"></script>
            <!--Custom scripts-->
            <script>
                // SideNav Initialization
                $(".button-collapse").sideNav();

                var container = document.querySelector('.custom-scrollbar');
                var ps = new PerfectScrollbar(container, {
                    wheelSpeed: 2,
                    wheelPropagation: true,
                    minScrollbarLength: 20
                });
                $('#dark-mode').on('click', function (e) {

                    e.preventDefault();
                    $('footer').toggleClass('mdb-color lighten-4 dark-card-admin');
                    $('body, .navbar').toggleClass('white-skin navy-blue-skin');
                    $(this).toggleClass('white text-dark btn-outline-black');
                    $('body').toggleClass('dark-bg-admin');
                    $('.card').toggleClass('dark-card-admin');
                    $('h6, .card, p, td, th, i, li a, h4, input, label').not(
                        '#slide-out i, #slide-out a, .dropdown-item i, .dropdown-item').toggleClass('text-white');
                    $('.btn-dash').toggleClass('grey blue').toggleClass('lighten-3 darken-3');
                    $('.gradient-card-header').toggleClass('white dark-card-admin');

                    if ($('.navbar').hasClass('navy-blue-skin')) {
                        for (let i = 0; i <= 5; i++) {
                            myBarChart.data.datasets[0].data[i] = (Math.random(i) * 100);
                        }

                        Chart.defaults.global.defaultFontColor = '#fff';
                    } else {

                        for (let i = 0; i <= 5; i++) {
                            myBarChart.data.datasets[0].data[i] = (Math.random(i) * 100);
                        }

                        Chart.defaults.global.defaultFontColor = '#666';
                    }

                    myBarChart.update();

                });

            </script>

        {% endblock %}
    </header>
    <main>
        {% for label,messages in app.flashes %}
            <div class="container">
                <div class="alert alert-{{ label }}">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>

            </div>
        {% endfor %}
        <div class="container-fluid">
        <body class="fixed-sn white-skin">
        {% block body %}<div class="card-body text-center"></div>{% endblock %}
    </body >
    </div>
    </main>
</html>
    {% block footer %}
        {% include('footer.html.twig') %}
    {% endblock %}

