<!DOCTYPE html>
<html>


<!-- Main Navigation -->

    <meta charset="UTF-8">
    {% block nav %}
        {% include('navUser.html.twig') %}

    {% endblock %}
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ asset('css2/bootstrap.min.css') }}">
        <!-- Material Design Bootstrap -->
        <link rel="stylesheet" href="{{ asset('css2/mdb.min.css') }}">
        <style>
            html,
            body,
            header,
            .view {
                height: 100vh;
            }
            @media (max-width: 740px) {
                html,
                body,
                header,
                .view {
                    height: 700px;
                }
            }
            @media (min-width: 800px) and (max-width: 850px) {
                html,
                body,
                header,
                .view {
                    height: 650px;
                }
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        <!-- DataTables  -->
        <script type="text/javascript" src="{{ asset('js/addons/datatables.min.js') }}"></script>
        <!-- DataTables Select  -->
        <script type="text/javascript" src="{{ asset('js/addons/datatables-select.min.js') }}"></script>
        <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="{{ asset('js/mdb.min.js') }}"></script>
        <!--Custom scripts-->


    {% endblock %}


<main>




        {% block body %}{% endblock %}



</main>
</html>
{% block footer %}

{% endblock %}

