<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav sn-bg-4 fixed">
    <ul class="custom-scrollbar">
        <!-- Logo -->
        <li class="logo-sn waves-effect py-3">
            <div class="text-center">
                <a href="#" class="pl-0"><img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"></a>
            </div>
        </li>
        <!--  Logo -->

        <!-- Search Form -->
        <li>
            <form class="search-form" role="search">
                <div class="md-form mt-0 waves-light">
                    <input type="text" class="form-control py-2" placeholder="Search">
                </div>
            </form>
        </li>
        <!-- Search Form -->
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-tachometer-alt"></i>
                        Dashboards<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>

                            <li><a href="{{path('acceuil')}}" class="waves-effect">Accueil</a>
                            </li>
                            <li><a href="{{path('acceuil')}}" class="waves-effect">tableau de bord</a>
                            </li>

                        </ul>
                    </div>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-image"></i> Utilisateurs<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{path('admin_utilisateurs')}}" class="waves-effect">Gerer roles</a>
                            </li>
                            <li><a href="{{path('compte_register')}}" class="waves-effect">Register</a>
                            </li>


                        </ul>
                    </div>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-user"></i>Gerer Adherants<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{path('adherants')}}" class="waves-effect">Adherants</a>
                            </li>
                            <li><a href="{{ path('new_adherant') }}" class="waves-effect">Ajouter adherant</a>
                            </li>
                            <li><a href="../profile/extended.html" class="waves-effect">Extended</a>
                            </li>
                        </ul>
                    </div>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li><a class="collapsible-header waves-effect arrow-r"><i class="fab fa-css3"></i>Gerer adhesion<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{path('adhesions')}}" class="waves-effect">Adhesions</a>
                            </li>
                            <li><a href="{{path('new_adhesion')}}" class="waves-effect">Ajouter Adhesions</a>
                            </li>
                            <li><a href="../css/utilities.html" class="waves-effect">Utilities / helpers</a>

                        </ul>
                    </div>
                </li>




        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <li><a class="collapsible-header waves-effect arrow-r"><i class="far fa-calendar-check"></i>Gerer conventions<i class="fas fa-angle-down rotate-icon"></i></a>
            <div class="collapsible-body">
                <ul>
                    <li><a href="{{path('conventions')}}" class="waves-effect">conventions</a>
                    </li>
                    <li><a href="{{path('new_convention')}}" class="waves-effect">Ajouter conventions</a>
                    </li>

                    <li><a href="../css/utilities.html" class="waves-effect">Articles</a>
                    <li><a href="../css/utilities.html" class="waves-effect">Ajouter Articles</a>

                </ul>
            </div>
        </li>
                <li><a class="collapsible-header waves-effect arrow-r"><i class="fab fa-css3"></i>Gerer partenaire<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{path('partenaires')}}" class="waves-effect">Partenaire</a>
                            </li>
                            <li><a href="{{path('new_partenaire')}}" class="waves-effect">Ajouter Partenaire</a>
                            </li>
                            <li><a href="../css/utilities.html" class="waves-effect">Utilities / helpers</a>

                        </ul>
                    </div>
                </li>


                <li><a class="collapsible-header waves-effect arrow-r"><i class="fab fa-css3"></i>Gerer sponsors<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{path('sponsors')}}" class="waves-effect">sponsors</a>
                            </li>
                            <li><a href="{{path('new_sponsor')}}" class="waves-effect">Ajouter sponsor</a>
                            </li>
                            <li><a href="../css/utilities.html" class="waves-effect">Utilities / helpers</a>

                        </ul>
                    </div>
                </li>

                <li><a class="collapsible-header waves-effect arrow-r"><i class="fab fa-css3"></i>Gerer Evenement<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{path('evenements')}}" class="waves-effect">evenements</a>
                            </li>
                            <li><a href="{{path('new_evenement')}}" class="waves-effect">Ajouter evenement</a>
                            </li>
                            <li><a href="../css/utilities.html" class="waves-effect">Utilities / helpers</a>

                        </ul>
                    </div>
                </li>

    </ul>
    </li>
    {% endif %}


        <!--  Side navigation links -->
    </ul>
    <div class="sidenav-bg mask-strong"></div>
</div>