<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">

    <!-- SideNav slide-out button -->
    <div class="float-left">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i> </a>
    </div>

    <!-- Breadcrumb -->
    <div class="breadcrumb-dn mr-auto">
        <a class="navbar-brand" href="{{path('acceuil')}}">  AdminDashbord</a>
    </div>

    <div class="d-flex change-mode">

        <div class="ml-auto mr-3 change-mode-wrapper">
            <button class="btn btn-outline-black btn-sm" id="dark-mode">Change Mode</button>
        </div>

        <!-- Navbar links -->
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
            {% if app.user %}
            <!-- Dropdown -->



            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">{{app.user.nom}} {{ app.user.prenom }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{{ path('acceuil') }}">UserInterface</a>
                    <a class="dropdown-item" href="{{ path('compte_password') }}">Modifier mon mot de passe</a>
                    <a class="dropdown-item" href="{{ path('compte_logout') }}">Deconnexion</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{{path('compte_register')}}" class="nav-link">Inscription</a>
            </li>

            <li class="nav-item">
                <a href="{{path('compte_login')}}" class="nav-link">Connexion</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<!-- Navbar -->

