
<nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar white">
    <div class="container">
        <a class="navbar-brand font-weight-bold title" href="{{ path('acceuil') }}">TestUser</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="list-unstyled navbar-nav mr-auto">


                <li class="nav-item ml-4">
                    <a class="nav-link title" href="{{ path('acceuil') }}" data-offset="90">Acceuil</a>
                </li>


            </ul>
            <!-- Social Icon  -->
            <ul class="navbar-nav nav-flex-icons">
                {% if app.user %}
                    <!-- Dropdown -->



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">{{app.user.nom}} {{ app.user.prenom }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href="{{ path('adherants') }}">Admin Dashbord</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('compte_password') }}">Modifier mon mot de passe</a>
                            <a class="dropdown-item" href="{{ path('compte_logout') }}">Deconnexion</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{path('compte_register')}}" class="nav-link">Inscription</a>
                    </li>

                    <li class="nav-item">
                        <a href="{{path('compte_login')}}" class="nav-link">Connexion</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
